body {
  background-color: black;
  color: white;
  font-family: sans-serif;
  text-align: center;
}

.item {
  margin-bottom: 5px;
}

.nav {
  padding: 5px 10px;
  white-space: nowrap; 
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

#gameCanvas {
  background-color: #000;
  border: 3px solid orange;
  display: block 80%;
  width: 50%;
  height: 50%;
  margin: 0 auto;
}

#score, #lives {
  font-size: 20px;
  margin: 10px;
}

#fireButton {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 18px;
}
